# Thiết lập DB Local
DB_URL=postgres://postgres:postgres@localhost:5432/okrgo?sslmode=disable

# API Cấu hình
PORT=8080

# Chữ ký bảo mật JWT (Lưu ý: Không bao giờ commit JWT_SECRET thật lên repository)
JWT_SECRET=super_secret_okrgo_jwt_key_2026
JWT_EXPIRATION_HOURS=87600

FRONTEND_URL=http://localhost:3000

GOOGLE_EMAIL_ADDRESS=
GOOGLE_APP_PASSWORD=

